/*
 */
/*!
 * 🚀 Exclusive Offer from justDev! 🚀
 *
 * Looking for high-performance web solutions? We’ve got you covered!
 *
 * ✅ Custom Web Development
 * ✅ UI/UX Design & Optimization
 * ✅ Clean, Maintainable Code
 * ✅ Lightning-Fast Support & Updates
 *
 * 📩 Contact us today at info@justdev.org
 *
 * — Your Web Solutions Partner, justDev - https://justdev.org
 */

@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@source '../scripts/**/**/**/**/**/*.vue';
@source '../scripts/directives/**/*.js';
@source '../views/**/**/**/**/**/*.twig';
@source './safelist.txt';

@import './base/_fonts';
@import './base/_typograph';
@import './base/_btn';
@import './base/_elements';
@import './vendor/primevue';

@theme {
	/* Font Family */
	--font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	--font-serif: 'Jeko', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

	/* Neutral */
	--color-neutral-100: #f2f2f2; /* Background / Background */
	--color-neutral-300: #d9d9d9; /* Border / Normal */
	--color-subtile: #737373; /* Text / Subtile */
	--color-primary: #101010; /* Text / Primary */
	--color-primary-500: #13191e; /* Text / Primary */

	/* Purple */
	--color-purple: #5b2b62; /* Text / Purple, Background / Purple, Border / Active */

	/* Coffee */
	--color-coffee-100: #f3efe3; /* Background / Coffee Pale */
	--color-coffee-300: #dccfac; /* Background / Coffee */

	/* State */
	--color-green-600: #17a231; /* State / Success */
	--color-red-800: #970101; /* State / Error */
	--color-success: var(--color-green-600);
	--color-error: var(--color-red-800);

	--tracking-tight: -2%;
	--leading-tight: 1.2;
	--leading-snug: 1.3;

	--text-6xl: 4rem;
	--text-2xl: 1.625rem;
	--text-2x: 1.5rem;

	--breakpoint-uhd: 120rem;
}

@utility container {
	margin-inline: auto;
	@apply px-6 lg:px-12;
}

@utility transit {
	@apply transition-all duration-300 ease-in-out;
}

body {
	@apply text-primary;
}

.jd-init {
	will-change: transform, opacity;
	transform: translateY(40px);
	opacity: 0;
}
.jd-animate {
	transform: translateY(0);
	opacity: 1;
}

.logos-wrapper::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: none;
	background: linear-gradient(90deg, #fff 0%, rgb(255 255 255 / 0%) 30%, rgb(255 255 255 / 0%) 70%, #fff 100%);
}

.rfm-rail {
	width: max-content;
	animation: rfm-scroll 30s linear infinite;
	will-change: transform;
}

@media (prefers-reduced-motion: reduce) {
	.rfm-rail {
		animation: none;
	}
}

@keyframes rfm-scroll {
	to {
		transform: translate3d(var(--rfm-offset, -50%), 0, 0);
	}
}
